---
---
<!-- Search Slider Wrap  -->
<div class="offcanvas offcanvas-top h-auto" tabindex="-1" id="searchSlider" aria-labelledby="searchSliderLabel">
	<div class="offcanvas-body" id="searchSliderLabel">
		<form class="searchForm w-100 mb-3" action="/listings-map/" method="get">
			<div class="p-2 ps-3 rounded border d-flex align-items-center justify-content-between gap-2">
				<div class="searchicons"><span><i class="bi bi-search fs-4 opacity-75"></i></span></div>
				<div class="flex-fill"><input type="search" name="q" class="form-control border-0 ps-0" placeholder="What are you looking for?" autofocus></div>
				<div><button type="submit" class="btn btn-primary btn-sm rounded-pill px-3">Search</button></div>
				<div class="closeSlides"><a href="JavaScript:Void(0);" class="square--35 circle text-muted-2 border" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x"></i></a></div>
			</div>
		</form>
		<div class="popularSearches d-flex align-items-center justify-content-center gap-2 flex-wrap">
			<div class="singleItem"><a href="/listings-map/?category=real-estate" class="badge badge-xs badge-primary rounded-pill">Accommodations</a></div>
			<div class="singleItem"><a href="/listings-map/?category=activities" class="badge badge-xs badge-primary rounded-pill">Activities</a></div>
			<div class="singleItem"><a href="/listings-map/?category=tours" class="badge badge-xs badge-primary rounded-pill">Tours</a></div>
			<div class="singleItem"><a href="/listings-map/?category=restaurant" class="badge badge-xs badge-primary rounded-pill">Eat & Drink</a></div>
			<div class="singleItem"><a href="/listings-map/?category=shopping" class="badge badge-xs badge-primary rounded-pill">Shopping</a></div>
			<div class="singleItem"><a href="/listings-map/?category=entertainment" class="badge badge-xs badge-primary rounded-pill">Nightlife</a></div>
			<div class="singleItem"><a href="/listings-map/?category=fitness" class="badge badge-xs badge-primary rounded-pill">Fitness</a></div>
		</div>
	</div>
</div>
